@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../fonts/SourceCodePro-Regular.ttf";
@font-face {
    src: url("../fonts/Audiowide-Regular.ttf");
    font-family: 'Audiowide';
}

$text-colour: #d4d4d4; //color: #d6cdfb;
$background-color: rgb(15, 15, 15);
$page-margin: 1em;

body {
    // background-color: $background-color;
    min-height: 100vh;
}

.title {
    text-align: center;
    font-family: 'Audiowide'
}

.content {
    margin: $page-margin;

    .info-container-wrapper {
        width: max-content;
        &::before {
            font-family: 'Source Code Pro', monospace;
            font-weight: bolder;
            font-size: 20pt;
            content: 'Info';
        }
        .info-container {
            padding: 1rem;
            font-family: 'Source Code Pro', monospace;
            font-weight: bold;
            .setting-value {
                font-weight: normal;
            }
        }
    }
    

    .waveform-canvas {
        
        min-height: 200px;
        width: calc(100% - #{$page-margin} * 2);
        position: absolute;
        bottom: 0;
    }
}
